    .left-col {
        text-align:center;
        background-color: grey;
        width: 10.5%;
        padding-bottom: 100%;
        float: left;
    }
    
    .right-col {
        background-color: grey;
        width: 10%;
        float: right;
    }
    
    .center-col {
        padding-top: 25%;
        position: absolute;
        left: 25%;
    }
    
    h4 {
        color: white;
        border-bottom: 0.2rem solid white;
        padding-bottom: 0.5rem;
        padding-top: 0;
    }
    
    a.link {
        color: white;
    }
    
    a.link:hover {
        color: black;
        text-decoration: none;
    }

    h1,
    h2,
    h3,
    h3,
    h4,
    h6 {
        font-family: 'Poppins', sans-serif;
    }
    
    a.navbar-brand {
        font-family: 'Poppins', sans-serif;
        font-size: 200%;
        border-bottom: 0.2rem solid white;
        padding-bottom: 0.01rem;
        padding-top: 0;
    }
    
    a {
        font-family: 'Poppins', sans-serif;
        font-size: 150%;
    }
    
    a.navbar-brand:hover {
        text-shadow: 0 0.4rem 1.4rem rgba(245, 245, 245,0.8);
        transform: translateY(-0.1rem);
        transition: transform 150ms;    
    }
    p{ 
        font-family: 'Poppins', sans-serif;
    }

    .sidebar {
        height: 100%;
        /* 100% Full-height */
        width: 0;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: grey;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
    }
    /* The sidebar links */
    #hed{
        text-align:center;
    }
    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
    }
    /* When you mouse over the navigation links, change their color */
    
    .sidebar a:hover {
        color: #f1f1f1;
    }
    /* Position and style the close button (top right corner) */
    
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    /* The button used to open the sidebar */
    
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: grey;
        color: white;
        padding: 10px 15px;
        border: none;
    }
    
    .openbtn:hover {
        background-color: #444;
    }
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    
    #main {
        transition: margin-left .5s;
        /* If you want a transition effect */
        padding: 20px;
        background-color: azure;
    }
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    
    @media screen and (max-height: 450px) {
        .sidebar {
            padding-top: 15px;
        }
        .sidebar a {
            font-size: 18px;
        }
    }
   
