    .left-col {
        text-align:center;
        background-color: grey;
        width: 10.5%;
        padding-bottom: 100%;
        float: left;
    }
    
    .right-col {
        background-color: grey;
        width: 10%;
        float: right;
    }
    
    .center-col {
        padding-top: 25%;
        position: absolute;
        left: 25%;
    }
    
    h4 {
        color: white;
        border-bottom: 0.2rem solid white;
        padding-bottom: 0.5rem;
        padding-top: 0;
    }
    
    a.link {
        color: white;
    }
    
    a.link:hover {
        color: black;
        text-decoration: none;
    }

    h1,
    h2,
    h3,
    h3,
    h4,
    h6 {
        font-family: 'Poppins', sans-serif;
    }
    
    a.navbar-brand {
        font-family: 'Poppins', sans-serif;
        font-size: 200%;
        border-bottom: 0.2rem solid white;
        padding-bottom: 0.01rem;
        padding-top: 0;
    }
    
    a {
        font-family: 'Poppins', sans-serif;
        font-size: 150%;
    }
    
p{ font-family: 'Poppins', sans-serif;}
    /* display: flex; */
    /*this are the*/
    /* justify-content: center; */
    /*three lines*/
    /* align-items: center; */
    /*lines hold box in center  */
